
video#bgvid {
position: fixed; right: 0; bottom: 0;
min-width: 100%; min-height: 100%;
width: auto; height: auto; z-index: -100;
background: url(writing.mp4) no-repeat;
background-size: cover;
}

#navTitle {
	font-size: 40px;
	font-weight: bold;
	color: #404040; 

}

#loginForm{
	margin: 10px;
	color: white;
}

#introMsg {
	margin-left: 33px;
	color: white;
	font-size: 70px;
	border-radius: 20px;
}

#introSubMsg {
	margin: 33px;
	color: white;
	border-radius: 20px;

}